requests
beautifulsoup4
urllib3
win32-setctime
python-socks[asyncio]
psutil
python-dateutil
lxml
mergedeep
jsonpickle
ujson
sqlalchemy==1.4.20
alembic
tqdm>=4.62.0
selenium
selenium-wire==2.1.2
user_agent
aiohttp 
aiohttp_socks
rich