aiohttp
aiohttp_socks
alembic
beautifulsoup4
jsonpickle
lxml
mergedeep
psutil
python-dateutil
python-socks[asyncio]
requests
selenium
selenium-wire==2.1.2
sqlalchemy==1.4.20
tqdm
ujson
urllib3
user_agent
win32-setctime
